<web-app>
    <servlet>
        <servlet-name>HelloWorldServletMyId</servlet-name>
        <servlet-class>HelloWorldServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorldServletMyId</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
</web-app>